/* --------------------------------------------
	LIST / GRID VIEW
-------------------------------------------- */
.woocommerce ul.products.row {
	margin: 0 -15px;
}
.woocommerce ul.products,
.woocommerce-page ul.products {
	position: relative;
	margin: 15px 0;
	padding: 0;
}
.woocommerce ul.products li.product, 
.woocommerce-page ul.products li.product {
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
}
.woocommerce ul.products li.product {
	padding: 0 15px;
	margin: 0;
	clear: none;
}

/*.woocommerce ul.products li.product.col-sm-12 {
	width: 100%;
}
.woocommerce ul.products li.product.col-sm-6 {
	width: 50%;
}
.woocommerce ul.products li.product.col-sm-5 {
	width: 41.66666667%;
}
.woocommerce ul.products li.product.col-sm-4 {
	width: 33.33333333%;
}
.woocommerce ul.products li.product.col-sm-3 {
	width: 25%;
}
.woocommerce ul.products li.product.col-sm-2 {
	width: 16.66666667%;
}
.woocommerce ul.products li.product.col-sm-1 {
	width: 8.33333333%;
}
*/
/* --------------------------------------------
	HEADER CART VIEW
-------------------------------------------- */
.hearder-extra-links:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.hearder-extra-links .extra-links {
	display: inline-block;
	line-height: 24px;
	max-height: 100%;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
}
.hearder-extra-links .std-menu {
	float: right;
}
.hearder-extra-links .std-men > ul.menu {
	margin: 0;
	padding: 0;
}
.hearder-extra-links .extra-links .std-menu > ul.sub-menu:before {
	position: absolute;
	right: 28px;
}

.extra-links .std-menu ul.menu > li {
    display: inline-block;
    margin-bottom: -20px;
    padding-bottom: 20px;
    text-align: center;
    width: 30px;
    height: 30px;

}
.extra-links nav .menu li > a > i {
	display: inline-block;
    font-size: 22px;
    margin-right: 0;
    width: 30px;
    height: 30px;
    color: #ffffff;
}
.hearder-extra-links nav.std-menu ul.sub-menu {
	right: -20px;
	left: auto;
	top: 100%!important;
}
.shopping-bag {
	width: 340px;
	padding: 30px;
	overflow: hidden;
	background: #ffffff;
}
.shopping-bag .loading-overlay {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	background: rgba(255,255,255,0.6);
	padding: 40% 0 0;
	text-align: center;
	z-index: 1000;
}
.shopping-bag .loading-overlay > i {
	vertical-align: middle;
	display: inline-block;
	width: 24px;
	height: 24px;
	font-size: 24px;
	display: inline-block;
	-webkit-animation: spin 1s infinite ease forwards;
	-moz-animation: spin 1s infinite ease forwards;
	animation: spin 1s infinite ease forwards;
}

.shopping-bag li:first-child:before {
    right: 25px;
}

.shopping-bag-item > a > .cart-text {
	display: none;
}
.shopping-bag-item a.cart-contents > span.amount {
	display: none!important;
}
.shopping-bag-item a > span.num-items {
	display: inline-block;
	position: absolute;
	right: -4px;
	top: 50%;
	margin-top: -17px;
	vertical-align: middle;
	border-radius: 30px;
	letter-spacing: 0;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	-webkit-transition: color 0.2s;
	-moz-transition: color 0.2s;
	-o-transition: color 0.2s;
	transition: color 0.2s;
	background: #222;
	color: #fff;
	width: 18px;
	height: 18px;
	line-height: 17px;
}

.bag-header {
	padding: 15px 0;
	margin: 0 30px;
	font-size: 16px;
	border-bottom: 1px solid #e4e4e4;
	display: none!important;
}
.bag-contents {
	max-height: 400px;
	overflow-y: scroll;
}
.bag-product {
	padding: 20px 0;
	margin: 0;
	border-bottom: 1px solid #e4e4e4;
	position: relative;
	font-size: 12px;
	line-height: 18px;
}
.bag-product:first-child {
	padding-top: 0;
}
.bag-product figure {
	overflow: hidden;
	position: relative;
	float: left;
}
.bag-product .bag-product-img {
	margin: 0;
	padding: 0!important;
	width: 72px;
	height: auto;
}
.bag-product .bag-product-details {
	margin-left: 85px;
	margin-right: 20px;
	font-size: 12px;
}
.bag-product .bag-product-details a {
	margin: 0;
	padding: 0;
	color: inherit;
}
.bag-product-title {
	margin-top: 5px;
	margin-bottom: 4px;
}
.bag-product-title a {
	line-height: 18px;
	display: block;
	padding: 0!important;
	max-width: 95%;
	letter-spacing: normal;
}
.bag-product a.remove {
	margin: 0;
	padding: 0!important;
	position: absolute;
	right: 0;
	top: 26px;
	font-size: 0;
	background: transparent!important;
	width: 16px;
	height: 16px;
}
.bag-product a.remove::before {
	content: "\e933";
	font-family: "nucleo-interface";
	display: inline-block;
	font-size: 16px;
	vertical-align: -3px;
	font-weight: normal;
}
.bag-product-price, .bag-product-quantity {
	opacity: 0.7;
	margin-bottom: 3px;
	font-weight: normal;
	font-style: italic;
}
.bag-total {
	padding: 15px 0 0;
	margin: 0;
	font-weight: bold;
	font-size: 14px;
}
.bag-total .total-amount {
	float: right;
}
.bag-total .total-amount .menu-item-title {
	display: none!important;
}
.bag-buttons {
	padding: 15px 0 0;
	margin: 0;
}
.bag-buttons a.sf-button {
	display: block;
	width: 100%;
	margin: 0;
	text-align: center!important;
}
.bag-buttons a.sf-button.bag-button {
	margin-bottom: 10px;
	border: 1px solid #e3e3e3;
}
.bag-buttons a.sf-button.sf-icon-reveal i {
	font-size: 16px;
}

.extra-links nav.std-menu > ul.sub-menu:before {
	left: 128px;
}

/* --------------------------------------------
	PRODUCT BADGE OVERLAYS
-------------------------------------------- */
.woocommerce span.onsale, 
.woocommerce .wc-new-badge, 
.woocommerce .out-of-stock-badge, 
.woocommerce .free-badge, 
#jckqv .onsale {
	background: #fa726e;
	color: #fff;
	text-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	position: absolute;
	padding: 0px 5px;
	margin: 0!important;
	border-radius: 2px;
	right: 0!important;
	top: 0!important;
	left: auto;
	z-index: 4;
    min-height: 0;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 19px;
	height: 19px!important;
	font-weight: bold;
	letter-spacing: 1px;
	-moz-box-sizing: content-box;
	-ms-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	opacity: 1;
	white-space: nowrap;
}
.woocommerce .product-img-area span.onsale, 
.woocommerce .product-img-area .wc-new-badge, 
.woocommerce .product-img-area .out-of-stock-badge, 
.woocommerce .product-img-area .free-badge {
	right: 10px!important;
	top: 10px!important;
}
.woocommerce .wc-new-badge {
	background: #ffffff;
	border: 1px solid #000000;
	color: #000000;
}
.woocommerce .out-of-stock-badge {
	background: #ffffff;
	border: 1px solid #ff0000;
	color: #ff0000;
}
.woocommerce .free-badge {
	background: #ffffff;
	border: 1px solid #000000;
	color: #000000;
}
.product-img-area .badge-wrap {
	display: none;
}
figure .badge-wrap {
	position: absolute;
	top: 10px;
	right: 25px;
	z-index: 4;
}
figure .badge-wrap > span {
	opacity: 1;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
	transition: opacity 0.3s;
}
.multi-masonry-items figure .badge-wrap {
	top: 30px;
	right: 30px;
}

/* --------------------------------------------
	CATEGORY / ARCHIVE PAGE
-------------------------------------------- */
.woocommerce .shop-filter-wrap {
	margin-bottom: 30px;
	display: table;
}
.woocommerce div.product {
	position: relative;
	display: block;
	margin-right: 0px;
	margin-bottom: 60px;
	padding: 0 10px;
	text-align: center;
	border: 0 none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	clear: none;
}
.woocommerce div.product .inner-wrap {
	background: #f7f7f7;
	padding: 15px;
}
.woocommerce div.product figure {
	overflow: visible;
	position: relative;
	margin-bottom: 15px;
}
.woocommerce div.product img {
	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-o-transition: -o-transform 1s;
	transition: transform 1s;
}
.woocommerce div.product figure:hover img {
	-webkit-transform: scale3d(1.1,1.1,1);
	transform: scale3d(1.1,1.1,1);
	opacity: 1;
}
.woocommerce div.product figure .badge-wrap {
	position: absolute;
	top: 0;
	right: 0;
}
.woocommerce div.product figure .badge-wrap > span {
	opacity: 1;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
	transition: opacity 0.3s;
}
.woocommerce div.product figure:hover .badge-wrap > span {
	opacity: 0;
}
.woocommerce div.product figure .cart-overlay {
	position: absolute;
	z-index: 11;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	opacity: 0;
	display: block;
	bottom: 15px;
	left: 15px;
}
.woocommerce div.product figure:hover .cart-overlay {
	opacity: 1
}
.woocommerce div.product figure .cart-overlay .shop-actions > * {
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,.1);
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.1);
	box-shadow: 1px 1px 1px rgba(0,0,0,.1);
}
.woocommerce div.product figure .cart-overlay .shop-actions > .tooltip {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.woocommerce div.product .cart-overlay .shop-actions script,
.woocommerce div.product.buy-btn-visible > .product-actions .add-to-cart-wrap > a.added_to_cart,
.woocommerce div.product figure .cart-overlay a.product_type_soldout span {
	display: none!important;
}
.woocommerce div.product figure .cart-overlay .shop-actions .yith-wcwl-add-button > a i {
	margin-right: 0;
}
.woocommerce div.product figure .cart-overlay .shop-actions .yith-wcwl-add-to-wishlist {
	margin-top: 0;
}
.woocommerce div.product figure .cart-overlay .shop-actions a.button {
	background: #000000;
	display: block;
	margin: 10px 0;
	padding: 10px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	color: #ffffff;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
	transition: opacity 0.3s;
}
.woocommerce div.product figure .cart-overlay .shop-actions .yith-wcwl-wishlistexistsbrowse a {
	background: #000000;
	color: #ffffff;
	padding: 6px;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
	transition: opacity 0.3s;
}


/* --------------------------------------------
	WOOCOMMERCE PAGINATION
-------------------------------------------- */
.woocommerce-pagination {
	margin: 15px 0;
}
.woocommerce nav.woocommerce-pagination ul {
	border-width: 0;
	float: left;
}
.woocommerce nav.woocommerce-pagination ul li {
	border-right-width: 0;
}
.woocommerce nav.woocommerce-pagination ul li a, 
.woocommerce nav.woocommerce-pagination ul li span {
	padding: 0;
	line-height: 48px;
	margin-right: -1px;
}
.woocommerce nav.woocommerce-pagination ul li:last-child a, 
.woocommerce nav.woocommerce-pagination ul li:last-child span {
	margin-right: 0;
}

.woocommerce nav.woocommerce-pagination ul li {
    border: 1px solid #d3ced2;
    display: inline;
    float: left;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.pagination-wrap ul li a, 
.pagination-wrap ul li span {
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin-right: 0;
    text-align: center;
    font-weight: 400;
    text-decoration: none;
    
}

/* --------------------------------------------
	WOOCOMMERCE STYLING
-------------------------------------------- */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield!important;
}
.select2-search input[type="text"] {
	margin: 0;
}
.select2-container .select2-choice {
	padding: 8px 10px;
	border-radius: 0!important;
}
.select2-dropdown-open .select2-choice {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.wc-forward a:after, .wc-forward:after {
	display: none;
}
.woocommerce a.button.wc-backward {
	font-size: 14px;
}
.woocommerce #respond input#submit:hover, 
.woocommerce a.button:hover, 
.woocommerce button.button:hover, 
.woocommerce input.button:hover {
	/*background: transparent;*/
	background: #f81b20;
	color: #ffffff;
}
.woocommerce #respond input#submit:after, 
.woocommerce a.button:after, 
.woocommerce button.button:after, 
.woocommerce input.button:after {
	display: none!important;
}
.woocommerce a.button.alt, 
.woocommerce input.button.alt,
.woocommerce a.button.alt:hover, 
.woocommerce input.button.alt:hover, 
.woocommerce button.button.alt:hover {
	text-shadow: none;
	border-radius: 0;
	box-shadow: none;
	font-weight: normal;
}
.woocommerce button.button:disabled[disabled] {
	padding: 0 20px;
}
.woocommerce form .form-row {
	padding: 0;
	position: relative;
}
.woocommerce form .form-row input.input-text {
}
.woocommerce .woocommerce-info, 
.woocommerce-page .woocommerce-info, 
.woocommerce .woocommerce-message, 
.woocommerce-page .woocommerce-message, 
.woocommerce .woocommerce-error, 
.woocommerce-page .woocommerce-error {
	box-shadow: none;
	border: 2px solid #e3e3e3;
	border-radius: 0;
	text-shadow: none;
	padding: 15px 30px 15px 50px!important;
	margin-top: 20px!important;
	margin-bottom: 40px!important;
	background: transparent!important;
	line-height: 30px;
}
.woocommerce .woocommerce-message:before, 
.woocommerce-page .woocommerce-message:before {
	content: "\f00c";
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	text-decoration: inherit;
	font-size: inherit;
	text-shadow: none;
}
.woocommerce .woocommerce-message:before, 
.woocommerce-page .woocommerce-message:before, 
.woocommerce .woocommerce-error:before, 
.woocommerce-page .woocommerce-error:before, 
.woocommerce .woocommerce-info:before, 
.woocommerce-page .woocommerce-info:before {
	color: inherit;
	background: transparent;
	box-shadow: none;
	border-radius: 0;
	top: 11px;
	padding-top: 0;
}
.woocommerce .woocommerce-message a.button {
	background: none;
	border: 0;
	box-shadow: none;
	text-shadow: none;
	font-size: 14px;
	background: transparent!important;
	padding: 0 5px;
	margin-bottom: 0;
	margin-right: 0;
}
.woocommerce .woocommerce-error, 
.woocommerce-page .woocommerce-error {
	border-color: #b81c23;
}
.woocommerce .woocommerce-message, 
.woocommerce-page .woocommerce-message {
	border-color: #d1f2f0;
}
.woocommerce .woocommerce-message:before, 
.woocommerce-page .woocommerce-message:before {
	top: 15px;
	margin-right: 20px;
}
.woocommerce .woocommerce-info, 
.woocommerce-page .woocommerce-info {
	border-color: #e4e4e4;
	color: #222;
}
.woocommerce .woocommerce-info a:hover, 
.woocommerce-page .woocommerce-info a:hover {
	color: #fff;
	border-bottom-color: #fff;
}
.woocommerce .woocommerce-info:before, 
.woocommerce-page .woocommerce-info:before {
	text-shadow: none;
	top: 15px;
	content: "\f05a";
	font-family: FontAwesome;
}
.single-product .has-one-sidebar .article-body-wrap > .container, 
.single-product .has-both-sidebars .article-body-wrap > .container {
	max-width: 100%;
	padding: 0;
}
.single-product .page-content.col-sm-12 {
	padding-left: 0;
	padding-right: 0;
}
.woocommerce .page-description {
	clear: both;
}
.woocommerce .pp_gallery {
	left: 47%;
}
div.pp_woocommerce .pp_content_container {
	padding: 40px 0;
}
div.pp_woocommerce .pp_description {
	font-size: 14px;
	line-height: 14px;
}
div.pp_woocommerce .currentTextHolder {
	line-height: 16px;
}
.woocommerce .star-rating {
	float: left;
	margin-right: 6px;
	margin-top: 5px;
	font-size: 16px;
	letter-spacing: 5px;
	width: 6.25em;
}
.woocommerce .star-rating:before {
	content: "\e947\e947\e947\e947\e947";
	font-family: "nucleo-interface";
	color: #f5c55e;
}
.woocommerce .star-rating span:before {
	content: "\e93c\e93c\e93c\e93c\e93c";
	font-family: "nucleo-interface";
	color: #f5c55e;
}
.woocommerce p.stars {
	margin: 0;
	line-height: 1;
	font-size: 16px;
	letter-spacing: 4px;
	width: 8em;
	padding-top: 1px;
}
.woocommerce p.stars span a {
	transition: none;
	-moz-transition: none;
	-webkit-transition: none;
	-o-transition: none;
	font-weight: normal;
	position: relative;
	width: 1.2em;
}
.woocommerce p.stars a.star-1:after, 
.woocommerce p.stars a.star-2:after, 
.woocommerce p.stars a.star-3:after, 
.woocommerce p.stars a.star-4:after, 
.woocommerce p.stars a.star-5:after {
	font-family: "nucleo-interface";
	color: #f5c55e;
}
.woocommerce p.stars a.star-1:after {
	content: "\e947";
}
.woocommerce p.stars a.star-1.active:after, 
.woocommerce p.stars a.star-1:hover:after {
	content: "\e93c";
}
.woocommerce p.stars a.star-2:after {
	content: "\e947\e947";
}
.woocommerce p.stars a.star-2.active:after, 
.woocommerce p.stars a.star-2:hover:after {
	content: "\e93c\e93c";
}
.woocommerce p.stars a.star-3:after {
	content: "\e947\e947\e947";
}
.woocommerce p.stars a.star-3.active:after, 
.woocommerce p.stars a.star-3:hover:after {
	content: "\e93c\e93c\e93c";
}
.woocommerce p.stars a.star-4:after {
	content: "\e947\e947\e947\e947";
}
.woocommerce p.stars a.star-4.active:after, 
.woocommerce p.stars a.star-4:hover:after {
	content: "\e93c\e93c\e93c\e93c";
}
.woocommerce p.stars a.star-5:after {
	content: "\e947\e947\e947\e947\e947";
}
.woocommerce p.stars a.star-5.active:after, 
.woocommerce p.stars a.star-5:hover:after {
	content: "\e93c\e93c\e93c\e93c\e93c";
}
.woocommerce #review_form #reply-title {
	display: none;
}
.woocommerce #review_form #respond > p {
	width: 100%;
}
.woocommerce #review_form #respond p.comment-form-author {
	width: 100%;
}
.woocommerce #review_form #respond p.comment-form-email {
	width: 100%;
	padding-right: 0;
}
.woocommerce #review_form #respond p.comment-form-title {
	width: 100%;
}
.woocommerce #review_form #respond p.comment-form-comment {
	margin-bottom: 0;
	clear: both;
}
p.comment-form-rating, .woocommerce p.stars {
	margin: 0;
	line-height: 44px;
}
p.comment-form-rating {
	float: left;
	min-width: 60%;
}
p.comment-form-rating label {
	float: left;
	margin-right: 10px;
	margin-bottom: 0;
	display: block!important;
}
.woocommerce #review_form #respond p.comment-form-rating {
	width: 50%;
	float: left;
	margin: 10px 0;
}
.woocommerce #commentform p.comment-form-rating label {
	line-height: 50px;
	margin-bottom: 0;
}
.woocommerce #commentform p.comment-form-rating  p.stars a {
	vertical-align: middle;
}
.woocommerce p.stars {
	float: left;
}
.woocommerce p.stars a {
	position: absolute;
	border: 0!important;
}
p.comment-form-author {
	clear: left;
}
.woocommerce #review_form #respond textarea {
	margin-bottom: 0;
}
.woocommerce #review_form #respond p.form-submit {
	float: right;
	width: auto;
	margin: 0;
}
.woocommerce #review_form #respond p.comment-form-rating + p.form-submit {
	clear: none;
	margin-top: 10px;
}
.woocommerce #review_form #respond .form-submit input {
	float: right;
	margin-right: 0;
	margin-bottom: 0;
}
.woocommerce .help-bar {
	padding: 20px 0;
	border-top: 2px solid #e4e4e4;
	border-bottom: 2px solid #e4e4e4;
	margin-bottom: 60px;
}
.woocommerce-checkout .help-bar {
	margin-bottom: 20px;
	border-bottom: 0;
	border-top: 0;
	padding: 0;
}
.woocommerce-checkout .woocommerce > form.login {
	display: none;
}
.woocommerce .help-bar span {
	float: left;
}
.woocommerce .help-bar ul {
	float: right;
	margin-bottom: 0;
}
.woocommerce .help-bar ul li {
	float: left;
	margin-bottom: 0;
	margin-left: 30px;
}
.woocommerce .help-bar ul li:first-child {
	margin-left: 0;
}
.ordering-wrap {
	float: right;
	position: relative;
	text-align: right;
}
.ordering-wrap span {
	display: inline-block;
	margin: 0 10px 0 3px;
}
.ordering-wrap i {
	font-size: 16px;
	vertical-align: -2px;
}
.ordering-wrap::after {
	content: "";
	width: 0; 
	height: 0; 
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #222;
	position: absolute;
	z-index: 2;
	top: 50%;
	right: 0;
	margin-top: -3px;
}
.woocommerce .woocommerce-ordering {
	margin-bottom: 0;
	position: relative;
	z-index: 1;
}
.woocommerce-ordering select {
	background-color: transparent;
	background-position: right center;
	color: inherit;
	border: 0;
	height: 34px;
	margin: -1px 0 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	cursor: pointer;
	padding: 0 20px 0 0;
	outline: 0;
	opacity: 0.6;
}
.woocommerce-ordering select option {
	padding: 5px;
}
select.hasCustomSelect {
	z-index: 2;
	cursor: pointer;
}
.woocommerce-checkout .checkout-spacer {
	height: 30px;
}
.select2-container .select2-choice .select2-arrow {
	right: 14px;
}
.select2-container .select2-choice>.select2-chosen {
	padding-left: 10px;
}
.page-heading h1 span.cart, .page-heading h1 span.checkout, 
.page-heading h1 span.complete {
	margin-right: 20px;
	font-style: normal;
	opacity: 0.5;
}
.page-heading h1 span.checkout::before, 
.page-heading h1 span.complete::before {
	content: "\e915";
	font-family: "nucleo-interface";
	vertical-align: -1px;
	font-weight: normal;
	font-size: 24px;
	margin-right: 20px;
}
.woocommerce-cart .page-heading h1 span.cart, 
.woocommerce-checkout .page-heading h1 span.cart, 
.woocommerce-checkout .page-heading h1 span.checkout, 
.woocommerce-order-received .page-heading h1 span {
	opacity: 1;
}


/* --------------------------------------------
	CART
-------------------------------------------- */
.woocommerce .bag-summary,
.woocommerce-cart .bag-summary,
.woocommerce .bag-totals {
	text-transform: uppercase;
}
.woocommerce .bag-summary span, 
.woocommerce-cart .bag-summary span {
	opacity: 0.6;
}
.woocommerce table.shop_table, 
.woocommerce-cart table.shop_table {
	border-radius: 0;
	border-left-width: 0;
	border-right-width: 0;
	border-top-width: 2px;
	border-bottom-width: 2px;
	margin-bottom: 40px;
}
.woocommerce table.shop_table th, 
.woocommerce-cart table.shop_table th {
	padding: 12px 15px 12px 0;
	font-weight: normal;
}
.woocommerce table.shop_table tbody th, 
.woocommerce table.shop_table tfoot td, 
.woocommerce table.shop_table tfoot th {
	border-top-width: 2px;
}
.woocommerce table.shop_table tr td, 
.woocommerce-cart table.shop_table tr td {
	padding: 30px 15px 30px 0;
	vertical-align: top;
}
.woocommerce table.shop_table td {
	border-top-width: 2px;
}

.woocommerce table.cart .product-thumbnail, 
.woocommerce-cart table.cart .product-thumbnail {
	width: 100px;
}
.woocommerce table.shop_table img, 
.woocommerce-cart table.shop_table img {
	width: 70px;
	height: auto;
}
.woocommerce table.shop_table tr td.product-quantity .quantity {
	float: left;
	min-width: 76px;
}
.woocommerce table.shop_table tr td.product-price, 
.woocommerce table.shop_table tr td.product-subtotal {
	padding-top: 40px;
}
.woocommerce table.shop_table.cart td.product-name {
	padding-top: 40px;
	max-width: 300px;
}
.woocommerce table.shop_table tr td.product-remove .remove,
.woocommerce a.remove {
	display: block;
	float: right;
	padding: 0 10px;
	line-height: 42px;
	height: 44px;
	width: 44px;
	border-radius: 0;
	text-indent: 0;
	font-size: 24px;
	color: inherit;
	background: transparent!important;
	opacity: 1;
}
.woocommerce table.shop_table tr td.product-remove .remove:hover,
.woocommerce a.remove:hover {
	opacity: 0.75;
}
.woocommerce table.shop_table tr td.product-remove .remove i {
	vertical-align: -5px;
}

.woocommerce .cart_totals {
	float: none;
	width: 100%;
}
.woocommerce .cart_totals > p {
	clear: both;
}
.woocommerce .cart_totals table {
	width: 100%;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.woocommerce-cart .cart_totals table th {
	text-align: left;
	padding: 10px 0;
	font-weight: normal;
	width: 50%;
}
.woocommerce .cart_totals table td {
	text-align: right;
	padding-top: 10px;
	padding-right: 0;
	border-top: 0;
}
.woocommerce .cart_totals table tr.shipping th {
	width: 30%;
}
.woocommerce .cart_totals table tr.shipping th, 
.woocommerce .cart_totals table tr.shipping td {
	padding-bottom: 20px;
}
.woocommerce .cart_totals table tr.shipping td .shipping-calc-wrap {
	display: none;
}

.woocommerce .cart_totals table tr.order-total {
	border-top: 2px solid #e3e3e3;
}
.woocommerce .cart_totals table tr.order-total th, 
.woocommerce .cart_totals table tr.order-total td {
	padding: 12px 0;
	line-height: 30px;
}
.woocommerce .cart_totals table tr.order-total td span {
	font-size: 18px;
	font-weight: normal;
}
.woocommerce .cart_totals table tr.cart-subtotal {
	border-top: 2px solid #e4e4e4;
}
.woocommerce .cart_totals table tr > th {
	width: 30%;
}
.woocommerce .cart_totals table tr.total {
	border-top: 2px solid black;
}
.woocommerce .cart_totals table tr.order-total {
	font-size: 18px;
	font-weight: 700;
}
.woocommerce .cart_totals table tr.order-total th {
	color: #000000;
}
.woocommerce .cart_totals table tr.order-total td {
	color: #e84546;
}

.woocommerce-cart .wc-proceed-to-checkout {
	clear: both;
	padding: 20px 0;
}
.woocommerce .wc-proceed-to-checkout > a.checkout-button {
	width: 100%;
	margin-bottom: 0;
	font-size: 1em;
	background: #e84546;
	text-transform: uppercase;
}
.woocommerce .wc-proceed-to-checkout > a.checkout-button:hover {
	background: #000000;
}

.woocommerce .coupon {
	width: auto;
	margin-left: 0;
	float: left;
	margin-bottom: 30px;
}
.woocommerce .coupon label {
	display: block;
	margin-bottom: 6px;
	color: #000000;
}

.woocommerce .coupon input.input-text {
	margin: 0;
	padding: 4px 4px;
	border: 1px solid #e4e4e4;
	width: 184px;
	height: 46px;
	line-height: 46px;
	float: left;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.woocommerce .coupon input.button {
	background: #ffffff;
	margin: 0;
	padding: 11px 0;
	float: right;
	width: auto;
	padding: 16px 20px;
	border-radius: 0;
	border: 1px solid #e4e4e4;
	font-size: 12px;
	text-transform: uppercase;
}

.woocommerce .coupon input.button:hover {
	color: #000000;
}

.woocommerce input[name="update_cart"] {
	width: 100%;
	background: #000000;
	color: #ffffff;
	text-transform: uppercase;
	padding: 16px 20px;
	border-radius: 0;
}


/* --------------------------------------------
	CART
-------------------------------------------- */

.woocommerce td.product-name dl.variation dd {
	margin-bottom: 0;
}

/* --------------------------------------------
	CART EMPTY
-------------------------------------------- */

p.no-items {
	border-top: 2px solid #e4e4e4;
	border-bottom: 2px solid #e4e4e4;
	padding: 10px 0;
	margin-bottom: 20px;
}

/* --------------------------------------------
	CHECKOUT PAGE
-------------------------------------------- */

body.minimal-checkout.woocommerce-checkout .header-wrap, 
body.minimal-checkout.woocommerce-checkout #mobile-header, 
body.minimal-checkout.woocommerce-checkout #sf-header-banner, 
body.minimal-checkout.woocommerce-checkout #top-bar, 
body.minimal-checkout.woocommerce-checkout #footer {
	display: none;
}
.minimal-checkout-return a {
	display: block;
	padding: 15px 0;
	font-size: 18px;
}
ul.checkout-process {
	border: 2px solid #e4e4e4;
	margin-bottom: 60px;
	list-style: none;
}
ul.checkout-process li {
	width: 33.3%;
	float: left;
	position: relative;
}
ul.checkout-process li:after {
	background: transparent url('images/checkout-process-angle.png') no-repeat top left;
	content: " ";
	position: absolute;
	top: 0;
	left: -40px;
	display: block;
	width: 20px;
	height: 39px;
}
ul.checkout-process li:first-child:after {
	display: none;
}
ul.checkout-process li a, ul.checkout-process li p {
	display: block;
	padding: 10px 15px 9px;
	line-height: 19px;
	margin: 0;
}
ul.checkout-process li a.active, ul.checkout-process li p.active {
	cursor: pointer;
	font-weight: bold;
}
.returning-customer a {
	border-bottom: 1px dotted #e3e3e3;
}

.woocommerce form.woocommerce-checkout {
	text-transform: uppercase;
}

.woocommerce form.woocommerce-checkout .checkbox span {
	padding-left: 15px;
}

.woocommerce form.checkout_coupon {
	border-left: 0;
	border-right: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	padding: 30px 0;
}
.woocommerce form.checkout_coupon .form-row-last {
	float: left;
	margin-left: 20px;
}
.woocommerce form.checkout_coupon p {
	margin-bottom: 0;
}
#login-form .modal-body form.login {
	display: block!important;
	border: 0;
	padding: 0;
	margin: 0;
}
#login-form .modal-body form.login p.form-row-first, 
#login-form .modal-body form.login p.form-row-last {
	width: 100%;
	margin-bottom: 20px;
	text-align: left!important;
	margin-top: 0!important;
}
#login-form .modal-body form.login p.form-row {
	width: 100%;
	margin-bottom: 20px;
	text-align: right;
	margin-top: 10px;
}
#login-form .modal-body form.login p.form-row input[type="submit"] {
	float: right!important;
	margin-right: 0!important;
	margin-left: 20px;
	padding: 15px 40px;
}
#login-form .modal-body form.login p.form-row a.lost_password {
	padding-top: 7px;
	display: inline-block;
}
.woocommerce-checkout .login input[type="submit"] {
	float: right;
	margin-top: 20px;
	border: 0;
	background: transparent;
	box-shadow: none;
	text-shadow: none;
	border-radius: 0;
	padding: 14px 24px;
	font-weight: normal;
}
.woocommerce-checkout .login label.inline {
	display: block;
	float: right;
	margin: 25px 20px 0;
}
.woocommerce-checkout .login label.inline input[type="checkbox"] {
	margin-right: 4px;
}
.woocommerce-checkout .login p.lost_password {
	text-align: right;
	margin-bottom: 0;
	margin-top: 25px;
}
.woocommerce .bag-buttons a.create-account-button {
	margin-bottom: 20px;
}
.woocommerce-account fieldset {
	margin: 40px 0 30px;
	padding: 25px 30px;
}
.woocommerce-account fieldset legend {
	padding: 0 10px;
	font-weight: bold;
	font-size: 16px;
}
.woocommerce-checkout .already-logged-in p {
	font-size: 22px;
	float: left;
	margin: 0 20px 0 0;
	line-height: 40px;
}
.woocommerce form #customer_details .form-row {
	display: block;
	width: 100%;
	float: none;
	margin-bottom: 20px;
	position: relative;
}
.woocommerce form .form-row .required {
	position: absolute;
	z-index: 2;
	bottom: 34px;
	right: 8px;
	height: 5px;
	display: inline-block;
	width: 5px;
	background: #fe504f;
	border-radius: 30px;
	overflow: hidden;
}
.woocommerce form #customer_details .form-row label {
	float: left;
	width: 25%;
	padding: 0;
	margin: 0;
	line-height: 50px;
	font-weight: normal;
}
.woocommerce form #customer_details .form-row input {
	float: right;
	width: 75%;
}
.woocommerce form #customer_details .form-row .select2-container {
	position: relative;
	display: inline-block!important;
	width: 75%!important;
}
.woocommerce form #customer_details .form-row .chosen-search {
	height: auto;
	overflow: hidden;
}
.woocommerce form #customer_details .form-row .chosen-search input[type=text] {
	width: 100%;
}
.woocommerce form #customer_details .form-row textarea {
	float: right;
	width: 75%;
	line-height: 20px;
}
.woocommerce .checkout #ship-to-different-address {
	float: none;
	width: 100%;
	margin: 30px 0;
    padding: 20px 0;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
}
.woocommerce .checkout #ship-to-different-address input {
	float: left;
	margin: 8px 10px 0 0;
}
.woocommerce .checkout #ship-to-different-address label {
	font-size: 14px;
	display: inline-block;
}
.woocommerce-checkout .form-row .chzn-container {
	width: 75%!important;
	margin-top: 5px;
}
.woocommerce-checkout .form-row .chzn-container .chzn-results {
	width: 100%;
}
.woocommerce select#billing_country, .woocommerce-checkout #billing_country_field .chosen-container, .woocommerce-checkout #shipping_country_field .chosen-container, .form-row .chosen-container {
	width: 75%!important;
}
.woocommerce form #order-details .form-row.notes {
	padding-top: 40px;
}
.woocommerce-checkout .form-row .chosen-container-single .chosen-single {
	height: 39px;
	line-height: 39px!important;
}
.woocommerce-checkout .form-row .chosen-container-single .chosen-single div b {
	background-position-y: 10px!important;
}
.woocommerce .checkout #createaccount {
	float: none!important;
	width: auto!important;
}
.woocommerce .checkout label.checkbox[for="createaccount"] {
	padding: 0;
	margin: 0;
	float: none!important;
	width: auto!important;
}
.create-account {
	padding-bottom: 20px;
}
.woocommerce-billing-fields h3 {
	margin-top: 0;
	margin-bottom: 30px;
	font-weight: bold;
}
.woocommerce select#billing_country {
	width: 75%;
}
.woocommerce .checkout #shiptobilling {
	float: none!important;
	width: 100%!important;
	margin-bottom: 20px;
}
.woocommerce .checkout #shiptobilling input {
	float: none!important;
	width: auto!important;
}
.woocommerce .checkout #shiptobilling label {
	float: none!important;
	width: auto;
	font-size: 1em;
	line-height: auto!important;
}
.woocommerce input.button[name="save_address"] {
	float: right;
	margin-top: 10px;
	margin-right: 0;
}
table.customer_details {
	width: 100%;
}
.woocommerce form #billing .form-row .chzn-container input {
	float: none;
}
.chosen-container-single .chosen-search input[type=text] {
	width: 100%;
}
.woocommerce-checkout .form-row .chzn-container-single .chzn-search input {
	padding: 4px 6px;
}
textarea#order_comments {
	padding: 18px 20px;
	min-height: 100px;
}
.review-order-wrap {
	padding: 40px 55px 0px;
	border-radius: 0;
}
.review-order-wrap_heading {
	margin-bottom: 15px;
}
#order_review > h4 {
	margin-top: 0;
	font-size: 18px;
	font-weight: bold;
}
#order-details {
	padding-right: 30px;
}
#order-details p.form-row {
	margin-bottom: 20px;
}
.review-order-wrap table.shop_table {
	border-top: 0;
	margin-bottom: 10px;
}
.review-order-wrap table.shop_table thead {
	display: none;
}
.review-order-wrap table.shop_table th {
	padding: 12px 0 20px;
	font-weight: normal;
}
.review-order-wrap table.shop_table td {
	border-color: rgba(0,0,0,0.05);
}
.review-order-wrap table.shop_table td.product-description {
	width: 80%;
	padding: 15px 0 17px;
}
td.product-description .quantity-count {
	margin-bottom: 0;
}
.review-order-wrap table.shop_table td.product-subtotal {
	width: 20%;
	padding-top: 17px;
}
.review-order-wrap table.shop_table .product-quantity {
	text-align: center;
}
.review-order-wrap table.shop_table .product-subtotal {
	text-align: right;
}
.review-order-wrap table.shop_table tr td, 
table.shop_table tr th.product-total {
	text-align: right;
}
.review-order-wrap table.shop_table tr td.product-name {
	text-align: left;
}
.review-order-wrap table.shop_table dl dt {
	float: left;
	margin-right: 4px;
}
table.totals_table {
	float: right;
	width: 30%;
	margin-bottom: 30px;
	border-bottom: 0;
}
.review-order-wrap table.totals_table {
	width: 100%;
	float: none;
	margin-bottom: 10px;
}
table.totals_table tr th {
	text-align: left;
	padding: 2px 0;
	font-weight: normal;
}
table.totals_table tr.total th, 
table.totals_table tr.total td {
	padding: 12px 0 0;
	letter-spacing: normal;
}
table.totals_table tr td {
	text-align: right;
	padding: 2px 0;
	border-top: 0;
}
table.totals_table tr.blank td, 
table.totals_table tr.blank th {
	padding: 6px 0;
}
table.totals_table tr.total {
	margin-top: 20px;
	border-top: 1px solid #222;
}
table.totals_table tr.total td .amount {
	font-size: 18px;
}
.review-order-wrap table.shop_table {
	border-bottom: 0;
}
.review-order-wrap table.shop_table tr th {
	padding: 15px 20px 17px 0;
	font-weight: normal;
	max-width: 80px;
}
.review-order-wrap table.shop_table tr td {
	padding: 15px 0 17px;
}
table.shop_table tr.cart-subtotal th, 
table.shop_table tr.cart-subtotal td, 
table.shop_table tr.total th, 
table.shop_table tr.total td {
	border-top: 1px solid #e3e3e3;
}
.review-order-wrap table.shop_table tr.order-total th {
	font-weight: bold;
}
.review-order-wrap table.shop_table tr.order-total th, 
.review-order-wrap table.shop_table tr.order-total td {
	border-bottom: 2px solid #222;
}

.review-order-wrap table.shop_table tr.order-total th {
	font-size: 18px;
	font-weight: 700;
	color: #000000;
}
.review-order-wrap table.shop_table tr.order-total td {
	font-size: 18px
	font-weight: 700;
	color: #e84546;
}
.woocommerce td.product-name dl.variation dt, 
.woocommerce td.product-name dl.variation dd {
	line-height: 26px;
	margin: 0 4px 0px 0;
	padding: 0;
	float: left;
}
table.shop_table tr.total td .amount {
	font-size: 18px;
}
.woocommerce table.shop_table td small {
	font-size: 1em;
}
.woocommerce table.shop_table td small a {
	font-weight: bold;
}
#shipping_method li input {
	float: left;
	margin-top: 5px;
	margin-left: -20px;
}
#shipping_method li label {
	margin-left: 25px;
}
.woocommerce #payment {
	background: transparent;
	border-radius: 0;
}
.woocommerce #payment ul.payment_methods {
	padding: 15px 55px 15px;
	border-bottom: 0;
}
.woocommerce #payment ul.payment_methods li {
	margin-bottom: 2px;
}
.woocommerce #payment ul.payment_methods li input {
	vertical-align: middle;
	float: none;
	margin-top: -2px;
}
.woocommerce #payment ul.payment_methods li label {
	font-weight: normal;
	margin-bottom: 0;
}
.woocommerce #payment ul.payment_methods li.payment_method_paypal label, 
.woocommerce-checkout #payment .payment_method_paypal .about_paypal {
	line-height: 32px;
}
.woocommerce #payment ul.payment_methods li img, 
.woocommerce-page #payment ul.payment_methods li img {
	margin: 5px 0;
}
.woocommerce #payment ul.payment_methods li.payment_method_paypal img {
	margin: 0 10px;
}
.woocommerce #payment div.payment_box {
	border-radius: 2px;
	box-shadow: none;
	padding: 1em;
	width: 100%;
}
.woocommerce #payment div.payment_box p {
	font-size: 12px;
	line-height: 22px;
}
.woocommerce #payment div.payment_box fieldset {
	padding: 0!important;
}
.woocommerce #payment div.payment_box fieldset .form-row {
	width: 100%;
	clear: both;
}
.woocommerce #payment div.form-row.place-order {
	padding: 0;
	margin-bottom: 0;
}
.woocommerce #payment #place_order {
	padding: 0 30px;
	height: 46px;
	line-height: 46px;
}
.woocommerce #payment .terms {
    width: 100%;
    text-align: left;
    padding: 20px 55px;
    text-align: left;
}
.woocommerce #payment .terms .required {
	display: none;
}
.woocommerce #payment .terms label {
	display: inline-block;
	margin: 0;
	padding: 0;
	text-align: left;
	float: left;
	max-width: 85%;
}
.woocommerce #payment .terms input {
	float: left;
	display: inline-block;
	margin: 8px 6px 0 0;
}
.review-order-wrap #payment {
	margin: 50px -55px 0;
}
.review-order-wrap #payment > h3 {
	padding: 0 55px;
	margin: 0 0 10px;
	font-weight: bold;
}
.review-order-wrap #payment #place_order {
	padding: 0 30px;
	height: 70px;
	line-height: 70px;
	font-size: 18px;
	font-weight: bold;
	width: 100%;
	border: 0;
	margin: 0;
	background: #000000;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.woocommerce-checkout #payment div.payment_box:before {
    content: "";
    display: block;
    border: 8px solid #dfdcde;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    position: absolute;
    top: -8px;
    left: 0;
    margin: -8px 0 0 30px;
}
.woocommerce-checkout p.order-status {
	font-size: 18px;
	margin-bottom: 40px;
	color: #63c76a;
}
.woocommerce-checkout p.order-status i {
	font-size: 48px;
	margin-right: 15px;
	vertical-align: -15px;
}
.woocommerce-checkout p.order-status.order-failed {
	color: #ff5252;
}
.woocommerce-checkout .checkout-confirmation h2 {
	margin-top: 30px;
}
.woocommerce-checkout .checkout-confirmation .help-bar {
	margin-bottom: 40px;
}
.woocommerce #payment div.payment_box:after, .woocommerce-page #payment div.payment_box:after {
	top: -2px;
}
.woo-thankyou-main .order_details {
	border-top: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
	padding: 15px 0;
	margin-bottom: 50px;
}
.woo-thankyou-main h2 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 30px;
	margin-top: 0;
}
.shop_table.order_details {
	margin-bottom: 60px;
	padding: 0;
}
.shop_table.order_details thead {
	display: none;
}
.shop_table.order_details .product-thumb {
	display: inline-block;
	margin-right: 20px;
	float: left;
}
.woocommerce .shop_table.order_details .product-details {
	padding-top: 5px;
}
.woocommerce .shop_table.order_details .product-name-link {
	font-weight: bold;
}
.woocommerce .shop_table.order_details .product-quantity {
	display: block;
}
.woocommerce .shop_table.order_details tr td, 
.woocommerce .shop_table.customer_details tr td {
	padding: 15px 0;
}
.shop_table.order_details tr td, 
.woocommerce .shop_table.order_details tfoot th {
	font-weight: normal;
}
.shop_table.order_details tfoot td, 
.woocommerce .shop_table.order_details tfoot tr:last-child th {
	font-weight: bold;
}
.woo-thankyou-details a.sf-button {
	width: 100%;
	text-align: center;
}
.woo-thankyou-details .payment-wrap:empty {
	display: none;
}
.woo-thankyou-details .payment-wrap {
	border-radius: 2px;
	border: 1px solid #e3e3e3;
	padding: 20px;
	background: #f7f7f7;
	margin-bottom: 20px;
}
.woo-thankyou-details .payment-wrap h2 {
	font-size: 16px;
	font-weight: bold;
	margin-top: 0;
}
.woo-thankyou-details .payment-wrap h3 {
	margin: 0 0 10px;
}
.woocommerce .woo-thankyou-details .payment-wrap .order_details {
	margin-bottom: 0;
}
.woocommerce .woo-thankyou-details .payment-wrap .order_details li {
	border-right-width: 0;
	padding-right: 0;
	width: 100%;
	margin-right: 0;
	margin-bottom: 8px;
	line-height: 150%;
}

/* --------------------------------------------
	MY ACCOUNT PAGE
-------------------------------------------- */

.woocommerce-account .woocommerce {
	height: auto;
	overflow: hidden;
}
.my-account-login-wrap {
	margin-bottom: 40px;
}
.my-account-login-wrap .col-2 {
	padding: 30px 0;
}
.my-account-login-wrap .col-2 form {
	border: 0;
	padding: 0;
}
.woocommerce form #create-account input[type="submit"] {
	float: right;
	margin-top: 20px;
	margin-right: 0;
}
.woocommerce .my-account-login-wrap .new-user-text {
	margin-bottom: 20px;
}
.myaccount_user {
	margin-bottom: 30px;
	font-size: 16px;
}
.my-account-left {
	float: left;
	width: 24%;
	margin-right: 4%;
}
.my-account-right {
	float: right;
	width: 72%;
}
.my-account-left h4 {
	margin-bottom: 10px;
}
.my-account-right h3 {
	margin-top: 0;
}
ul.my-account-nav > li {
	border-top: 2px solid transparent;
}
ul.my-account-nav > li:first-child {
	border-top: 0;
}
ul.my-account-nav > li a {
	padding: 10px 0;
	background: transparent!important;
}
ul.my-account-nav > li a:hover {
	text-decoration: none;
	background: transparent;
}
ul.my-account-nav > li a:before {
	content: "\f105";
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	display: block;
	float: right;
	text-decoration: inherit;
	font-size: 14px;
}
.lost_reset_password p.form-row, .track_order p.form-row, .change_password_form p.form-row {
	margin-bottom: 15px;
}
.change_password_form p input[type="submit"] {
	margin-left: 0;
	margin-top: 5px;
}
.woocommerce table.my_account_orders {
	font-size: 1em;
	width: 100%;
}
.woocommerce table.my_account_orders tr td {
	line-height: 32px;
}
.my_account_orders td.order-number {
	font-size: 18px;
}
.my_account_orders th.subscription-title, .my_account_orders td.subscription-title {
	max-width: 300px;
}
.my_account_orders th.subscription-actions {
	min-width: 140px;
}
.my_account_orders th.subscription-actions, .my_account_orders td.subscription-actions {
	max-width: 180px;
}
.my_account_orders td.subscription-actions > a {
	margin-bottom: 10px;
}
.my_account_orders td.order-number a {
	border-bottom: 1px dotted #e4e4e4;
}
.woocommerce table.my_account_orders .order-actions {
	padding-right: 0;
}
.woocommerce table.my_account_orders .order-actions .button {
	float: none;
	margin: 0;
	padding: 12px 20px;
}
.woocommerce .address .edit-address {
	border-bottom: 1px dotted #e4e4e4;
}
.woocommerce .order-info {
	margin-bottom: 30px;
	font-size: 22px;
	padding: 20px;
}
.woocommerce .order-info mark {
	background: transparent;
	font-weight: bold;
}
.woocommerce table.order_details {
	margin-bottom: 20px;
}
.woocommerce table.order_details tr > td {
	text-align: right;
}
.woocommerce table.order_details td.product-img {
	width: 12%;
}
.woocommerce table.order_details td.product-name {
	width: 68%;
	text-align: left;
}
.woocommerce table.order_details td.product-quantity {
	width: 10%;
}
.woocommerce table.order_details td.product-total {
	width: 10%;
	text-align: right;
}
.woocommerce table.order_details th.product-total {
	text-align: right;
}
.woocommerce .checkout-confirmation > h2 {
	display: none;
}
.woocommerce .checkout-confirmation .order_details {
	border-bottom: 2px solid #e4e4e4;
	padding-bottom: 20px;
}
.woocommerce .order-hr {
	border-bottom: 2px solid #e4e4e4;
	margin-bottom: 30px;
}
.woocommerce td.product-name dl.variation dd p {
	line-height: inherit;
	padding-top: 1px;
}
.wishlist_table .product-price, .wishlist_table .product-stock-status {
	text-align: left;
}
.woocommerce table.wishlist_table td.product-thumbnail {
	width: 14%;
	padding-right: 1%;
}
.woocommerce table.wishlist_table td.product-name {
	width: 26%;
}
.woocommerce table.wishlist_table td.product-price {
	width: 14%;
}
.woocommerce table.wishlist_table td.product-stock-status {
	width: 21%;
}
.woocommerce table.wishlist_table .product-add-to-cart .yith-wcwl-add-to-wishlist {
	display: none;
}
.woocommerce table.wishlist_table {
	border-top: 0;
	border-bottom: 0;
}
.woocommerce table.wishlist_table thead th, .woocommerce table.shop_table tfoot td {
	border-top-width: 2px;
	padding-left: 0;
}
.wishlist_table tr td.product-price {
	padding-top: 30px!important;
}
.woocommerce .wishlist_table tr td.product-add-to-cart a {
	font-size: 12px;
	line-height: 18px;
	margin-right: 0;
	padding: 12px 16px;
}
.woocommerce .wishlist_table tr td.product-add-to-cart a:before {
	content: "\002B";
	font-family: "SSGimzo";
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	text-decoration: inherit;
	font-size: inherit;
	text-shadow: none;
	margin-right: 8px;
	font-size: 16px;
}
.yith-wcwl-share {
	border-top: 2px solid #e4e4e4;
	border-bottom: 2px solid #e4e4e4;
	height: auto;
	overflow: hidden;
	padding: 15px 0;
}
.yith-wcwl-share span {
	float: left;
	margin: 0;
	line-height: 36px;
}
.yith-wcwl-share ul {
	float: right;
	margin: 0;
	margin-bottom: -5px;
	height: auto;
}
.yith-wcwl-share ul li {
	margin-right: 0;
}
.yith-wcwl-share ul li a.facebook, .yith-wcwl-share ul li a.twitter, .yith-wcwl-share ul li a.pinterest, .yith-wcwl-share ul li a.googleplus {
	background: none;
}
.woocommerce input.button[name="save_address"] {
	float: right;
	border: 0;
	background: transparent;
	box-shadow: none;
	text-shadow: none;
	border-radius: 0;
	padding: 12px 20px;
	font-weight: normal;
	margin-top: 10px;
}
table.customer_details {
	width: 100%;
}
table.customer_details td {
	border-top: 0!important;
}
.woocommerce-account div.col2-set.addresses {
	padding: 0;
}
.woocommerce-account div.col2-set.addresses .col-1, .woocommerce-account div.col2-set.addresses .col-2 {
	width: 50%;
	float: left;
}


/* --------------------------------------------
	WOOCOMMERCE 2.6 MY ACCOUNT
-------------------------------------------- */

.woocommerce-MyAccount-navigation {
	padding-right: 10px;
}
.woocommerce-MyAccount-navigation ul {
	margin: 0;
}
.woocommerce-MyAccount-navigation li {
	border-bottom: 1px solid #e3e3e3;
	border-top: 0px solid #e3e3e3;
}
.woocommerce-MyAccount-navigation li:first-child {
	border-top-width: 1px;
}
.woocommerce-MyAccount-navigation li > a {
	display: block;
	line-height: 36px;
	padding: 10px 0;
	font-weight: bold;
	position: relative;
	text-decoration: none;
}
.woocommerce-account .page-content .woocommerce-MyAccount-content > h2:first-child, .woocommerce-MyAccount-content > form > h3 {
	margin-top: 0;
}
.woocommerce-MyAccount-content form p.form-row {
	margin-bottom: 10px;
}
.woocommerce-MyAccount-content form p.form-row label {
	padding-bottom: 0;
	float: none;
}
.woocommerce-account .woocommerce-EditAccountForm fieldset {
	margin: 40px 0 20px;
	padding: 0;
	border: 0;
}
.woocommerce-account .woocommerce-EditAccountForm fieldset legend {
    padding: 0 0 10px;
    font-weight: bold;
    font-size: 16px;
}
.woocommerce-account .addresses .title .edit {
    margin-right: 20px;
    margin-top: 15px;
}
.woocommerce-MyAccount-content > .woocommerce-Message:first-child {
	margin-top: 0!important;
}
.woocommerce form .woocomerce-FormRow.form-submit {
	margin-top: 20px;
}


/* --------------------------------------------
	WOOCOMMERCE PRODUCT CATEGORIES
-------------------------------------------- */

.woocommerce .products .product-category a {
	display: block;
	position: relative;
}
.products .product-category .product-cat-info {
	text-align: left;
	padding: 25px 0 0;
}
.products .product-category h3 {
	text-transform: uppercase;
	letter-spacing: normal;
	margin-bottom: 0;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}
.product-category h3 sup.count {
	top: -9px;
	left: 4px;
	font-size: 11px;
}
.product-cat-info a.shop-now-link {
	margin-top: 4px;
}
.product-cat-info a.shop-now-link > i {
	margin-left: 3px;
}


/* --------------------------------------------
	WOOCOMMERCE WIDGETS
-------------------------------------------- */

.woocommerce.widget .title-wrap {
	margin-bottom: 10px;
}
.woocommerce .widget_layered_nav ul li {
	position: relative;
}
.woocommerce .widget_layered_nav ul li a {
	padding: 14px 0 10px;
	float: none;
	display: inline-block;
}
.woocommerce .widget_layered_nav ul li small.count, .woocommerce .widget_product_categories ul li span.count, .woocommerce .widget_layered_nav ul li span.count {
	margin-left: 1px;
	font-size: 12px;
	padding: 1px 0;
	color: #777;
	display: inline-block;
	position: relative;
	top: -5px;
	float: none;
}
.woocommerce .widget_product_categories ul li span.count, .woocommerce .widget_layered_nav ul li span.count {
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-webkit-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
}
.woocommerce .widget_product_categories ul li span.count.show-count, .woocommerce .widget_layered_nav ul li span.count.show-count {
	opacity: 1;
}
.woocommerce .widget_layered_nav ul li.chosen span.count {
	position: absolute;
	right: 10px;
	top: 7px;
}
.woocommerce .widget_layered_nav ul li.chosen {
	padding-bottom: 0;
	line-height: 20px;
}
.woocommerce .widget_layered_nav ul li.chosen a {
	padding: 8px 10px;
	border-radius: 0;
	border: 0;
	display: block;
}
.woocommerce .widget_layered_nav ul li.chosen small.count {
	position: absolute;
	right: 10px;
	top: 7px;
}
.woocommerce.widget select {
	margin-top: 15px;
	margin-bottom: 20px;
}
.woocommerce .widget_layered_nav_filters ul li a {
	padding: 8px 10px;
	border-radius: 0;
	border: 0;
}
.woocommerce .widget_layered_nav_filters ul li a:before, .woocommerce-page .widget_layered_nav_filters ul li a:before, .woocommerce .widget_layered_nav ul li.chosen a:before, .woocommerce-page .widget_layered_nav ul li.chosen a:before {
	vertical-align: -1px;
}
.woocommerce .widget_product_categories ul li a {
	display: inline-block;
	padding: 14px 0 10px;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
	margin-left: 0;
	margin-right: 0;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
	margin-left: 0;
}
.widget_product_search form {
	margin-bottom: 0;
}
.widget_product_search label {
	display: none;
}
.widget_product_search input[type="search"] {
	position: relative;
	float: left;
	width: 130px;
	margin: 0;
}
.widget_product_search input[type="submit"] {
	visibility: hidden;
	height: 0;
	padding: 0;
	margin: 0;
	border: 0;
}
.widget_product_search button {
	display: block;
	position: relative;
	float: left;
	margin: 0;
	padding: 5px 15px;
}

.widget_price_filter .price_slider_wrapper {
	margin-top: 27px;
}
.woocommerce .widget_price_filter .price_slider_amount {
	margin-top: 10px;
}
.woocommerce .widget_price_filter .ui-slider-horizontal, .woocommerce-page .widget_price_filter .ui-slider-horizontal {
	height: 2px;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #252525;
	width: 14px;
	height: 14px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	top: -6px;
	border: 4px solid #fff;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle:last-child, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle:last-child {
	margin-left: -10px;
}
.woocommerce.widget .buttons > a {
	margin-left: 2%;
	margin-right: 0!important;
	width: 48%;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.woocommerce.widget .buttons > a:first-child {
	margin-left: 0;
}
.woocommerce .widget_price_filter .price_slider_amount .price_label {
	font-size: 0;
	line-height: 24px;
	float: left;
}
.woocommerce .widget_price_filter .price_slider_amount .price_label span {
	font-size: 14px;
}
.woocommerce .widget_price_filter .price_slider_amount .price_label span.from::after {
    content: " - ";
    font-size: 18px;
}
.woocommerce .widget_price_filter .price_slider_amount .button {
	float: right;
	padding: 0;
    background: transparent!important;
    color: #222;
    line-height: 28px;
    margin: 0;
    opacity: 0.7;
}
.woocommerce .widget_price_filter .price_slider_amount .button:hover {
	opacity: 1;
}
.woocommerce ul.cart_list li > a, .woocommerce ul.product_list_widget li > a, .woocommerce-page ul.cart_list li > a, .woocommerce-page ul.product_list_widget li > a {
	padding-top: 0;
	padding-bottom: 5px;
}
.woocommerce ul.cart_list li .star-rating, .woocommerce ul.product_list_widget li .star-rating, .woocommerce-page ul.cart_list li .star-rating, .woocommerce-page ul.product_list_widget li .star-rating {
	margin-bottom: 5px;
}
.woocommerce.widget .quantity {
	background: transparent;
	box-shadow: none;
}


/* --------------------------------------------
	SINGLE PRODUCT
-------------------------------------------- */
.single-product .summary .stock-availability {
	margin-top: 40px;
	margin-bottom: 25px;
	font-size: 16px;
}
.single-product .summary .stock-availability .in-stock {
	color: #5e9400;
}
.single-product .summary .stock-availability .out-stock {
	color: #ee0210;
}
.single-product .summary .woocommerce-product-details__short-description {
	margin-top: 15px;
	margin-bottom: 25px; 
}
.single-product .summary .product_meta {
	margin-top: 40px;
	margin-bottom: 25px;
}
.single-product .summary .product_meta > span {
	display: block;
	margin-bottom: 8px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
	float: left;
	width: 20%;
	margin-bottom: 0;
}
.woocommerce div.product .woocommerce-tabs .panel {
	float: right;
	width: 80%;
	margin-bottom: 0;
}
.woocommerce div.product .woocommerce-tabs .panel .container {
	max-width: 100%;
}
div.product .woocommerce_tabs .panel {
	margin-bottom: 0px;
	margin-top: -1px;
	border: 2px solid rgb(221, 221, 221);
	padding: 10px 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: rgb(255, 255, 255);
}
.woocommerce div.product .woocommerce-tabs {
	height: auto;
	overflow: hidden;
	margin-bottom: 40px;
	padding-top: 40px;
	margin-top: 60px;
	border-top: 2px solid #e3e3e3;
}
.woocommerce div.product #product-display-area + .product-after-summary > .woocommerce-tabs {
	margin-top: 30px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs {
	float: left;
	width: 20%;
	font-size: 16px;
	font-weight: normal;
	margin-left: 0;
	padding-left: 0;
	overflow: visible;
}
.woocommerce div.product .woocommerce-tabs ul.tabs:before {
	display: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
	background: transparent!important;
	margin: 0 -4px -2px 0!important;
	box-shadow: none;
	padding: 0!important;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border: 0;
	width: 100%;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	white-space: nowrap;
	margin-right: 0;
	padding: 9px 0;
	display: block;
	background: transparent;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 95%;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
	overflow: hidden;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a:after {
	content: '';
	position: absolute;
	right: -6px;
	top: 50%;
	width: 12px;
	height: 12px;
	margin-top: -4px;
	background: #fff;
	box-shadow: inset 2px 2px rgba(0,0,0,0.5);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:before, .woocommerce div.product .woocommerce-tabs ul.tabs li:after {
	border: 0;
	display: none;
}
.woocommerce div.product .woocommerce-tabs .panel {
	float: right;
	width: 80%;
	margin-bottom: 0px;
	margin-top: -1px;
	border: 0;
	padding: 10px 0 10px 28px;
	min-height: 140px;
	border-left: 2px solid #e3e3e3;
	border-radius: 0!important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: none;
	background-color: transparent;
}
.woocommerce  div.product .woocommerce-tabs .panel#tab-additional_information {
	padding: 0 0 0 28px;
}
.woocommerce  div.product .woocommerce_tabs .panel h2, div.product .woocommerce-tabs .panel h2 {
	margin-top: 0;
}
#tab-additional_information h2 {
	display: none;
}
#tab-description p:last-child {
	margin-bottom: 0;
}
.woocommerce table.shop_attributes {
	border-top: 0;
	margin-bottom: 0;
}
.woocommerce table.shop_attributes th {
	text-align: left;
	font-weight: normal;
	border-bottom: 0;
	border-top: 1px dotted rgba(0,0,0,0.1);
}
.woocommerce table.shop_attributes td {
	/*text-align: right;*/
	text-align: left;
	font-style: normal;
	border-bottom: 0;
	border-top: 1px dotted rgba(0,0,0,0.1);
}
.woocommerce table.shop_attributes td p, .woocommerce table.shop_attributes th {
	padding: 11px 0;
}
.woocommerce table.shop_attributes tr:first-child th, .woocommerce table.shop_attributes tr:first-child td {
	border-top: 0;
}
.woocommerce table.shop_attributes .alt th, .woocommerce table.shop_attributes .alt td {
	background: transparent;
}
